<div class="row h-100 justify-content-center">
	<div class="col-lg-6 col-md-6 col-sm-12">
		<p>Don't forget to <a [routerLink]="['/login']">log in</a> to keep track of messages sent.</p>
		<form novalidate (ngSubmit)="onSubmit()" [formGroup]="messageForm">
		  <div class="form-group">
		    <label for="phone">SNS Endpoint (Phone #)</label>
		    <input [(ngModel)]="message.phone" name="phone" type="tel" class="form-control" formControlName="phone" id="phone" placeholder="1112223333" required>
		  </div>
		  <div class="form-group">
		    <label for="message">Message</label>
				<textarea [(ngModel)]="message.message" name="message" class="form-control" formControlName="message" id="message" rows="3" placeholder="Enter message" required></textarea>
		  </div>
		  <div class="form-group">
			  <label for="date" class="col-form-label">Date and time</label>
			  <input [(ngModel)]="message.date" name="date" class="form-control" formControlName="date" type="datetime-local" value="0000-00-00T00:00" id="date">
			  <small id="dateHelp" class="form-text text-muted">If you wish to send a push notification immediately, leave this field blank. Otherwise enter a date in the form of yyyy-mm-dd hh:mm am/pm.</small>
			</div>
		  <button type="submit" class="btn btn-primary">Submit</button>
      <pre>{{messageForm.value | json}}</pre>
		</form>
		<p class="text-success" id="messageStatus"></p>
		<p class="text-danger" id="error"></p>
		<p class="font-weight-bold text-info" id="messageId"></p>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12">
		<p>Your previous {{ usrMsgCnt }} message recipients:</p>
		<div>
			<ol>
				<li *ngFor="let message of usrMsgs">
					{{ message.phone }}
					<ul>
						<li>{{ message.id }}</li>
						<li>{{ message.message }}</li>
						<li>{{ message.messageStatus }}</li>
					</ul>
				</li>
			</ol>
		</div>
	</div>
</div>
