<div class="row">
	<div class="col">
		<h3>Register</h3>
    <form (ngSubmit)="register()" [formGroup]="registerForm" novalidate>
			<div class="form-group">
				<input class="form-control" formControlName="email" type="text" name="email" placeholder="E-mail" required>
			</div>
			<div class="form-group">
				<input class="form-control" formControlName="username" type="text" name="username" placeholder="Username" required>
			</div>
			<div class="form-group">
				<input class="form-control" formControlName="password" type="password" name="password" placeholder="Password" required>
			</div>
			<div class="form-group">
				<input class="form-control" formControlName="passwordConf" type="password" name="passwordConf" placeholder="Confirm Password" required>
			</div>
			<button type="submit" class="btn btn-primary">register</button>
		</form>
	</div>
</div>
